<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>BSNF Task Information Management</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    </head>
    <style>
        div{
            padding: 2%
        }
    </style>

    <body>
        <div >
            <h1>BSNF Task Information Manager<br></h1>
            <h3>
                This is a simple Task Information Manager using JDK8, Spring Boot 2.3.3, Spring JPA, REStful Api, Hibernate(H2), Thymeleaf, and IntelliJ  <br><br>
            </h3>
             <h5>
                 Please navigate to /employee, /apps, /groups to view a list of all data by table in Json <br>
             </h5>
        </div>
        <div>
            <a th:href="@{addApp}" class="btn btn-primary">Add an application</a>

            <a th:href="@{tasks}" class="btn btn-primary">Tasks List</a>
            <a th:href="@{addTask}" class="btn btn-primary">Add a task</a>

        </div>
    </body>
</html>