<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tasks</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <style>
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            input[type="number"] {
                -moz-appearance: textfield;
                width: 100%;
                border: 0px solid #dddddd;
                border-bottom: 1px solid #ddd;
                margin-bottom: 5%;
                display: inline-block;
            }

            textarea, select, input[type = "datetime-local"], input[type = "text"]{
                width: 100%;
                margin-bottom: 5%;
                display: inline-block;
                border: 0px solid #dddddd;
                border-bottom: 1px solid #ddd;
            }

            label{
                margin: unset;
            }
            table {
                border-collapse: collapse;
                width: 60%;
            }
            th, td{
                border-bottom: 1px solid #ddd;
                padding: 10px;
            }
            form{
                width:30%;
                border: 1px solid #ddd;
                padding: 40px 40px;
            }

        </style>

    </head>

    <body>

<!-- -----------------------------------------------TASKS FORM------------------------------------------------------------------------->

        <div style="padding-left: 2%" >

            <h2>Create a Task
                <a href="/" class="btn btn-primary"> Home Page</a>
                <a href="/searchTasks" class="btn btn-primary"> Search </a>
            </h2>

            <form action = "#" th:action = "@{/addTask}" th:object="${tasks}" method = "post" >

                <label>Incident Id:  </label>
                <input type="text" th:field="*{incident_Id}" placeholder="Input incident id" required/><br>
                <input type="hidden" th:field = "*{incident_Id}">

                <label>Application name:  </label>
                <input type="text" th:field="*{app_Name}" placeholder="Input application name" required/><br>

                <label>Group Id </label>
                <input type="text" th:field="*{group_Id}" placeholder="Input group id" required /><br>

                <label>Incident type:  </label>
                <select th:field="*{incident_Type}" >
                    <option th:each="incidentType : ${listIncidentType}" th:value = "${incidentType}" th:text="${incidentType}"> </option>
                </select><br>

                <label>Summary: </label>
                <textarea th:field="*{summary}" rows = "3" placeholder="Provide description..."></textarea>

                <label>Employee Id:  </label>
                <input type="number" th:field="*{emp_Id}" required/><br>

                <label>Submit Date:  </label>
                <input type="datetime-local" th:field="*{submit_Date}"  required/><br>

                <label>Closed Date: </label>
                <input type="datetime-local" th:field="*{closed_Date}"  required/><br>

                <label>Impact: </label>
                <select th:field="*{impact}" >
                    <option th:each="impactType : ${listImpact}" th:value = "${impactType}" th:text="${impactType}"> </option>
                </select><br>

                <label>Resolution: </label>
                <textarea th:field="*{resolution}" rows = "2" placeholder="Provide description..."></textarea>

                <label>Res Cate Tier 1: </label>
                <select th:field="*{res_Cate_Tier1}" >
                    <option th:each="resCateTier1 : ${listResCateTier1}" th:value = "${resCateTier1}" th:text="${resCateTier1}"> </option>
                </select><br>

                <label>Status: </label>
                <input type="text" th:field="*{status}"  placeholder="Open or Closed?"required/><br>

                <label>Responded Date: </label>
                <input type="datetime-local" th:field="*{responded_Date}"  required/><br>

                <label>Res Cate Tier 3: </label>
                <select th:field="*{res_Cate_Tier3}" >
                    <option th:each="resCateTier3 : ${listResCateTier3}" th:value = "${resCateTier3}" th:text="${resCateTier3}"> </option>
                </select><br>

                <label>Target Date: </label>
                <input type="datetime-local" th:field="*{target_Date}"  required/><br>

                <label>Maintenance Id: </label>
                <input type="number" th:field="*{maint_Id}"  required/><br>

                <label>Maintenance Date: </label>
                <input type="datetime-local" th:field="*{maint_TS}"  required/><br>

                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

            </form><br><br>

<!-- -----------------------------------------------TASKS LIST------------------------------------------------------------------------->

            <h2> Tasks List</h2> <br>
            <h5>
                <table >
                    <thead>
                        <tr>
                            <th> Incident Id</th>
                            <th> App Name</th>
                            <th> Group Id</th>
                            <th> Incident Type</th>
                            <th> Summary</th>
                            <th> Employee Id</th>
                            <th> Submit Date</th>
                            <th> Closed Date</th>
                            <th> Impact</th>
                            <th> Resolution</th>
                            <th> ResCateTier1</th>
                            <th> Status</th>
                            <th> Responded Date</th>
                            <th> ResCateTier3</th>
                            <th> Target Date</th>
                            <th> Maintenance Id</th>
                            <th> Maintenance Date</th>
                            <th> Edit</th>
                            <th> Delete</th>
                        </tr>
                    </thead>

                    <tbody th:each="tasks : ${listTasks}" >

                        <td th:text="${tasks.incident_Id}"></td>
                        <td th:text="${tasks.app_Name}"></td>
                        <td th:text="${tasks.group_Id}"></td>
                        <td th:text="${tasks.incident_Type}"></td>
                        <td th:text="${tasks.summary}"></td>
                        <td th:text="${tasks.emp_Id}"></td>
                        <td th:text="${tasks.submit_Date}"></td>
                        <td th:text="${tasks.closed_Date}"></td>
                        <td th:text="${tasks.impact}"></td>
                        <td th:text="${tasks.resolution}"></td>
                        <td th:text="${tasks.res_Cate_Tier1}"></td>
                        <td th:text="${tasks.status}"></td>
                        <td th:text="${tasks.responded_Date}"></td>
                        <td th:text="${tasks.res_Cate_Tier3}"></td>
                        <td th:text="${tasks.target_Date}"></td>
                        <td th:text="${tasks.maint_Id}"></td>
                        <td th:text="${tasks.maint_TS}"></td>

                        <td align = "center" valign="center">
                            <a th:href = "@{/editTask/{incident_Id} (incident_Id = ${tasks.incident_Id})}" class="btn btn-primary">
                                Edit
                            </a>
                        </td>
                        <td align = "center" valign="center">
                            <a th:href = "@{/deleteTask/{incident_Id} (incident_Id = ${tasks.incident_Id})}" onclick="alert('This will delete the entry.')" class="btn btn-primary">
                                Delete
                            </a>
                        </td>
                    </tbody>

                </table>
            </h5>
        </div>
    </body>
</html>