<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Result</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link th:href="@{/css/resultTasks.css}" href="../../webapp/css/resultTasks.css" rel="stylesheet" type="text/css" media="all" />

    </head>

    <body>
        <div>
            <h2>Succeeded...</h2>
            <span>Incident ID:  </span> <span th:text="${tasks.incidentId}"></span><br/>
            <span>Application Name:  </span> <span th:text="${tasks.appName}"></span><br/>
            <span>Group ID:  </span><span th:text="${tasks.groupId}"></span><br/>
            <span>Incident Type: </span><span th:text="${tasks.incidentType}"></span><br/>
            <span>Summary: </span><span th:text="${tasks.summary}"></span><br/>
            <span>Employee ID: </span><span th:text="${tasks.empId}"></span><br/>
            <span>Submit Date: </span><span th:text="${tasks.submitDate}"></span><br/>
            <span>Closed Date: </span><span th:text="${tasks.closedDate}"></span><br/>
            <span>Impact:  </span><span th:text="${tasks.impact}"></span><br/>
            <span>Resolution: </span><span th:text="${tasks.resolution}"></span><br/>
            <span>ResCateTier1: </span><span th:text="${tasks.resCateTier1}"></span><br/>
            <span>Status: </span><span th:text="${tasks.status}"></span><br/>
            <span>Responded Date: </span><span th:text="${tasks.respondedDate}"></span><br/>
            <span>ResCateTier3: </span><span th:text="${tasks.resCateTier3}"></span><br/>
            <span>Target Date: </span><span th:text="${tasks.targetDate}"></span><br/>
            <span>Maintenance ID: </span><span th:text="${tasks.maintId}"></span><br/>
            <span>Maintenance Date: </span><span th:text="${tasks.maintTS}"></span><br/>

        </div><br>

        <div>
            <a th:href="@{addTask}" class="btn btn-primary">Add Another Task</a>
            <a th:href="@{tasks}" class="btn btn-primary">Tasks List</a>
        </div><br>

    </body>
</html>