input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    width: 100%;
    border: 0px solid #dddddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5%;
    display: inline-block;
}

textarea, select, input[type = "datetime-local"], input[type = "text"]{
    width: 100%;
    margin-bottom: 5%;
    display: inline-block;
    border: 0px solid #dddddd;
    border-bottom: 1px solid #ddd;
}

label{
    margin: unset;
}
table {
    border-collapse: collapse;
    width: 60%;
}
th, td{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
form{
    width:30%;
    border: 1px solid #ddd;
    padding: 40px 40px;
}
