<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Tasks</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link th:href="@{/css/tasks.css}" href="../../webapp/css/tasks.css" rel="stylesheet" type="text/css" media="all" />

    </head>
<body>

    <h2>
        Tasks
        <a href="/" class="btn btn-primary"> Home Page</a>
        <a th:href="@{addTask}" class="btn btn-primary">Add a task</a>
    </h2>

    <form th:action = "@{/tasks}" method="get" >
        <div class = "row">
            <ul class = "column" >
                <label>Search by Incident Id, Group Id, or App Name
                    <input type = "text" name="keyword" placeholder="Enter Incident Id, Group Id, or App Name only..."  >
                </label>
            </ul>

            <ul class = "column">
                <label>Search by Employee Id
                    <input type = "number" name = "keywordNum" onkeydown="return event.keyCode !== 69" placeholder="Enter Employee Id only...">
                </label>
            </ul>
        </div>
        <div class = "row">
            <ul class = "column">
                <label>Search from Submit Date to
                    <input type = "text" name = "keywordFrom" placeholder="Enter as yyyy-mm-dd hh:mm:ss" >
                </label>
            </ul>

            <ul class = "column">
                <label>Closed Date
                    <input type = "text" name = "keywordTo"  placeholder="Enter as yyyy-mm-dd hh:mm:ss">
                </label>
            </ul>
        </div>

        <ul class = "row" style="width: 95%; display: inline-flex; justify-content: space-between">
            <p>*Search is case sensitive.</p>
            <ul>
                <a th:href="@{tasks}" class="btn btn-secondary">Show All</a>
                <input type="submit" value="Search" class="btn btn-secondary" />
            </ul>

        </ul>

    </form>
    <br>
    <br>
    <table >
        <thead>
        <tr>
            <th> Incident Id</th>
            <th> App Name</th>
            <th> Group Id</th>
            <th> Incident Type</th>
            <th> Summary</th>
            <th> Employee Id</th>
            <th> Submit Date</th>
            <th> Closed Date</th>
            <th> Impact</th>
            <th> Resolution</th>
            <th> ResCateTier1</th>
            <th> Status</th>
            <th> Responded Date</th>
            <th> ResCateTier3</th>
            <th> Target Date</th>
            <th> Maintenance Id</th>
            <th> Maintenance Date</th>
            <th> Edit</th>
            <th> Delete</th>
        </tr>
        </thead>

        <tbody th:each="tasks : ${listTasks}" >

            <td th:text="${tasks.incidentId}"></td>
            <td th:text="${tasks.appName}"></td>
            <td th:text="${tasks.groupId}"></td>
            <td th:text="${tasks.incidentType}"></td>
            <td th:text="${tasks.summary}"></td>
            <td th:text="${tasks.empId}"></td>
            <td th:text="${tasks.submitDate}"></td>
            <td th:text="${tasks.closedDate}"></td>
            <td th:text="${tasks.impact}"></td>
            <td th:text="${tasks.resolution}"></td>
            <td th:text="${tasks.resCateTier1}"></td>
            <td th:text="${tasks.status}"></td>
            <td th:text="${tasks.respondedDate}"></td>
            <td th:text="${tasks.resCateTier3}"></td>
            <td th:text="${tasks.targetDate}"></td>
            <td th:text="${tasks.maintId}"></td>
            <td th:text="${tasks.maintTS}"></td>

            <td align = "center" valign="center">
                <a th:href = "@{/editTask/{incidentId} (incidentId = ${tasks.incidentId})}" class="btn btn-primary">
                    Edit
                </a>
            </td>
            <td align = "center" valign="center">
                <a th:href = "@{/deleteTask/{incidentId} (incidentId = ${tasks.incidentId})}" onclick="alert('This will delete the entry.')" class="btn btn-primary">
                    Delete
                </a>
            </td>
        </tbody>

    </table>

</body>
</html>